{
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "printWidth": 60,
  "bracketSameLine": false,
  "htmlWhitespaceSensitivity": "ignore"
}
